<!doctype html>
<html lang="en">
  <head>
    <title>PlaceHolder</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

</head>
  <body>
      <header id="mainHeader" class="container-fluid">
        <div class="container-fluid banner">
            <div class="row">
                <div class="col">
                    <nav class="navbar navbar-expand-mg d-flex justify-content-center">
                        <ul class="nav ">
                            <li class="nav-item">
                                <a href="#" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="#searchField" class="nav-link"
                                    >Jump</a
                                >
                            </li>
                            <li class="nav-item">
                                <a href="#card" class="nav-link"
                                    >Card</a
                                >
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link">About</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
      </header>
      
      <section id="searchField" class="container my-5 d-flex flex-column justify-content-center align-items-center">

        <div class="select-group mt-5">
            <div class="select">
                <select name="slct" id="slct">
                  <option selected >Choose an option</option>
                  <option value="1">Pure CSS</option>
                  <option value="2">No JS</option>
                  <option value="3">Nice!</option>
                </select>
              </div>

        </div>

        <div class="form__group field mb-5">
            <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
            <label for="name" class="form__label">Search</label>
        </div>

        <div class="middle">
            <button id="btn" class="btn btn1">Hover Me</button>
        </div>
      </section>


      <section id="xxxField" class="container mb-5">
        <ul id="itemsList"class="list-group">
            <li class="list-group-item ">C</li>
            <li class="list-group-item ">B</li>
            <li class="list-group-item ">K</li>
            <li class="list-group-item ">L</li>
            <li class="list-group-item ">A</li>
          </ul>
      </section>
    
    
    
    <script src="./js/main.js"></script>  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>